  {{#if username}}
  <br>
  <br>
  <br>
  <h2>Welcome back {{username}}!</h2>
  
  <dl> 
      <dt>First Name</dt>
      <dd>{{user.firstName}}</dd>
      <dt>Last Name</dt>
      <dd>{{user.lastName}}</dd>
      <dt>Email</dt>
      <dd>{{user.email}}</dd>
      <dt>Gender</dt>
      <dd>{{user.gender}}</dd>
      <dt>Age</dt>
      <dd>{{user.age}}</dd>
      <dt>Account Created</dt>
      <dd>{{user.userCreated}}</dd>
    </dl>

    {{#if user.userApartments}}
      <h3>List of all user posted apartments:</h3>

      {{#each user.userApartments}}
        <li>
          <a href="/apartments/apartment/{{this._id}}">{{this.apartmentName}} [Floor: {{this.floorNum}}, Room: {{this.roomNum}}]</a> 

          <form id="editApt-form" action="/apartments/editApartment/{{this._id}}" method="GET"> 
            <button type="submit" class="user-button"> Edit Apartment </button>
          </form>
          <form id="deleteApartment-form" action="/apartments/deleteApt/{{this._id}}" method="POST"> 
            <button type="submit" class="user-button"> Delete Apartment </button>
          </form>
        </li>
      {{/each}}

    {{else}}
      <p>No Apartments posted yet</p>
    {{/if}}
  {{/if}}
  <a class="add-apartmentButton" href="/apartments/add-new-apartment">Click here to add apartments</a>
  <br>

  {{#if user.userReviews}}
      <h3>List of all user posted reviews:</h3>

      {{#each user.userReviews}}
        <li>
          <a href="/apartments/apartment/{{this.aptId}}">{{this.aptName}} [Floor: {{this.floorNum}}, Room: {{this.roomNum}}]</a>
            
          <form id="deleteReview-form" action="/reviews/deleteReview/{{this._id}}" method="POST"> 
            <button type="submit" class="user-button"> Delete Review </button>
          </form>
        </li>
      {{/each}}

    {{else}}
      <p>No reviews posted yet</p>

  {{/if}}
