  {{!Page where user can upload their vocab list, must be logged in}}
  {{#if error}}
  <h2> {{title}} </h2>
  <p class="error">{{error}}</p>
  {{/if}}
    <h1>Create WordList</h1>
    {{#each list}}
      <h2>Name: {{this.name}}</h2> <strong>{{this.word}}</strong><p>{{this.definition}}</p>
    {{/each}}
    <form id="wordListform" action="/lists/addList" method="POST">
      <label for="wordInput">Enter word here:</label>
      <input for="wordInput" name="wordInput" type="text" id="wordInput" required/>
      
      <label for="definitionInput">Enter name of list here:</label>
      <input for="definitionInput" name="definitionInput" type="text" id="definitionInput" required/>
      <button type="submit">Submit</button>
    </form>